*{
    margin: 0px;
    padding: 0px;
}
input{
    all: unset;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
#menu{
    height: 100%;
    width: 17.55%;
    background-color: white;
    border-bottom-right-radius: 3vw;    
    border-top-right-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
#body-container{
    flex-wrap: wrap;
    width: 82.45%;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    overflow: auto;  
}
#home-title{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    width: 81%;
    border-bottom: 2px solid #1668BD;
    margin-top: 3%;
}
#items-list{
    width: 81%;
    height: 71.66%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #1668BD; 
}
#items-list>div{
    margin-top: 1vh;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1vw;
    
}
#logout:hover{
    cursor: pointer;
    color: #4d93dd;
}
#logout{
    color: #1668BD;
    font-size: 2vw;
    width: 81%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
#add-button:hover{
    cursor: pointer;
}
#add-button{
    position: absolute;
    bottom: 5%;
    right: 3%;
    width: 5%;

}
.item{
    width: 18.19%;
    height: 36.75%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color:#349C55;
    margin-left:5%;
}
.item-deleted{
    width: 18.19%;
    height: 36.75%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    background-color:#349C55;
    margin-left:5%;
    animation-name: fade-out-right;
    animation-duration: 1.7s;
    
}   

.list-item-deleted{
    animation-name: fade-out-right;
    animation-duration: 1.7s;
}
.item-header{
    width: 100%;
    height: 16.87%;
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.delete{
   height: 40%;
   aspect-ratio: 1;
}
.title-container{
    margin-left: 1vw;
}
.item-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
}
.item-descriptions{
    color:#CCC9C2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8vw;
}
.item-body{
    overflow: auto;
    height: 73%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.item-add{
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 10.13%;
}

  

::placeholder{
    color: white;
}
.item-add>input{

    width:70%;
    height: 96%;
    color: white;
}
.item-add>img:hover{
    cursor: pointer;
}
.item-add>img{
    width: 10%;
}


.task{
    height: 9%;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top:3% ;
    animation-name: slide-in-right;
    animation-duration: 1s;

}
.task-done,.task{
    cursor: pointer;
}
.task-done{
    height: 9%;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin-top:3% ;
    color: #999999;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-8-18 0:24:35
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
/* ----------------------------------------------
 * Generated by Animista on 2022-8-17 23:44:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out-right
 * ----------------------------------------
 */
 @-webkit-keyframes fade-out-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
      
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
  }
  @keyframes fade-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    
    }
  }
  
.check{
    margin-right:0.5vw;
    width: 13%;
    height: 100%;
    border: 1px #6E93B9 solid;
}
#header{
    display: none   ;
}
.check-done{
    margin-right:0.5vw;
    width: 13%;
    height: 100%;
    border: 1px #B2D8BE solid;
    background-color: #B2D8BE;
}

/*CSS for mobile apps*/
@media only screen and (max-width: 600px) {
    
    #body-container{    
        overflow-y: auto;
        position: absolute;
        width: 100%;
        bottom: 0px;
        height: 91.5vh;
        display: block;
        flex-wrap:nowrap;
        margin-top: 0%;
    }
    .item{      
        margin-bottom: 5vh;
        width: 90%;
        height:50vh;
    }
    #header{
        border-bottom:2px solid #1668BD;
        background-color: #F5F5F5;
        display: flex;
        position: fixed;
        top:0px;
        left: 0px;
        width: 100%;
        height: 8%;
        flex-direction: row;
        justify-content: space-around;
    }
    #header>img{
        position: absolute;
        left: 5%;
        height: 100%;
        width: 10%;
    }
    #header>img:hover{
        cursor: pointer;
    }
    #header>div{
        
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 150%;
    }
    image{
        width: 50%;
    }
    #add-button{
        z-index: 3;
        width: 15%;
    }
    #menu-open{
        display: flex;
        position: absolute;
        width: 85%;
        height: 100%;
        z-index: 4;
        background-color: #5ba5f3;
        border-bottom-right-radius: 3vw;    
        border-top-right-radius: 3vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    #logout{
        font-size: 150%;
    }
    #home-title{
        font-size: 200%;
    }
    #items-list>div{
        font-size: 100%;
    }
    #home-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #home-title>img:hover{
        cursor: pointer;   
    }
}